services:
  # Backend API
  api:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.backend
    container_name: mini_crm_api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - ENV=production
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.crmapi.rule=Host(`${API_DOMAIN}`)"
      - "traefik.http.routers.crmapi.entrypoints=websecure"
      - "traefik.http.routers.crmapi.tls=true"
      - "traefik.http.routers.crmapi.tls.certresolver=le"
      - "traefik.http.services.crmapi.loadbalancer.server.port=8000"
    networks:
      - proxy
      - shark

  # Frontend (descomenta cuando tengas el frontend)
  frontend:
    build:
      context: ./frontend
      dockerfile: ../dockerfiles/Dockerfile.frontend
    container_name: mini_crm_frontend
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.crmfrontend.rule=Host(`${FRONTEND_DOMAIN}`)"
      - "traefik.http.routers.crmfrontend.entrypoints=websecure"
      - "traefik.http.routers.crmfrontend.tls=true"
      - "traefik.http.routers.crmfrontend.tls.certresolver=le"
      - "traefik.http.services.crmfrontend.loadbalancer.server.port=80"
    networks:
      - proxy

networks:
  shark:
    external: true
  proxy:
    external: true
